:root { --bg: #074e2d; --gold: #d4af37; }
body { background: var(--bg); color: white; margin: 0; font-family: 'Arial', sans-serif; overflow: hidden; }
#lobby { text-align: center; padding-top: 100px; }
.main-logo { width: 150px; margin-bottom: 20px; }

.table { width: 90vw; height: 60vh; border: 5px solid var(--gold); border-radius: 50%; margin: 20px auto; position: relative; background: #0a5d36; }
#deck-middle { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; gap: 10px; }

#player-hand { position: fixed; bottom: -20px; width: 100%; display: flex; justify-content: center; gap: -30px; }
.card { 
    width: 75px; height: 110px; background: #fff; border-radius: 10px; color: #000; 
    border: 1px solid #999; display: flex; flex-direction: column; justify-content: space-between; 
    padding: 8px; font-weight: bold; cursor: pointer; transition: 0.3s; box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.card:hover { transform: translateY(-40px) rotate(5deg); z-index: 100; box-shadow: 0 10px 25px var(--gold); }
.card.H, .card.D { color: #d63031; }
.card.S, .card.C { color: #2d3436; }