#hand {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    width: 100%;
    gap: -20px; /* Kartların iç içe geçmesi için */
}

.card {
    width: 70px;
    height: 100px;
    background: white;
    border-radius: 8px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.card:hover {
    transform: translateY(-20px);
    z-index: 100;
}

.card.S, .card.C { color: black; }
.card.H, .card.D { color: red; }

#table-center {
    width: 200px;
    height: 150px;
    border: 2px dashed rgba(255,255,255,0.2);
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
